<ul class="tabs" data-tabs id="pagenav-tabs" >
		<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Recruiting Activity</a></li>
		<li class="tabs-title"><a data-tabs-target="panel2" href="#panel2" >Scouting Report</a></li>
		<li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Athlete News</a></li>
		<li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">Videos</a></li>
</ul>
