<h4>School List</h4>
<table>
  <thead>
    <tr>
      <th width="200">School</th>
      <th width="200">Status</th>
      <th >Offer</th>
      <th >Visit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>College 1</td>
      <td></td>
      <td class="align-center"><i class="fa fa-check" style="color:green;" aria-hidden="true"></i></td>
      <td></td>
    </tr>
    <tr>
      <td>College 2</td>
      <td>Signed</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>College 3</td>
      <td></td>
      <td></td>
      <td class="align-center"><i class="fa fa-check" style="color:green;" aria-hidden="true"></i></td>
    </tr>
  </tbody>
</table>
