<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src="https://foundation.zurb.com/sites/docs/assets/img/media-object/avatar-1.jpg">
    </div>
  </div>
  <div class="media-object-section">
    <h5>Dreams feel real while we're in them.</h5>
    <em>by UPI</em>
  </div>
</div>
<!--  -->
<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src="https://foundation.zurb.com/sites/docs/assets/img/media-object/avatar-1.jpg">
    </div>
  </div>
  <div class="media-object-section">
    <h5>Dreams feel real while we're in them.</h5>
    <em>by UPI</em>
  </div>
</div>
<!--  -->
<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src="https://foundation.zurb.com/sites/docs/assets/img/media-object/avatar-1.jpg">
    </div>
  </div>
  <div class="media-object-section">
    <h5>Dreams feel real while we're in them.</h5>
    <em>by UPI</em>
  </div>
</div>
<!--  -->
<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src="https://foundation.zurb.com/sites/docs/assets/img/media-object/avatar-1.jpg">
    </div>
  </div>
  <div class="media-object-section">
    <h5>Dreams feel real while we're in them.</h5>
    <em>by UPI</em>
  </div>
</div>
<!--  -->
<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src="https://foundation.zurb.com/sites/docs/assets/img/media-object/avatar-1.jpg">
    </div>
  </div>
  <div class="media-object-section">
    <h5>Dreams feel real while we're in them.</h5>
    <em>by UPI</em>
  </div>
</div>
<!--  -->
