
				<div class="row columns" style="background-color: black;" >
						<table width="100%" style="background-color: black;">
							<tbody><tr >
								<td class="border-bottom">
									<table width="100%">
									
										<tbody><tr>
											<td class="border-right" width="125">
												<div class="grade">
													<h4>Scout Grade</h4>
													<ul class="rating">						 						
														<li><%= athlete.grade %>
														</li>
														<li class="star five-star"></li>
													</ul><!-- END: mod-rating -->
												</div><!-- end: Grade -->
											</td>
											<td>
												
													<table width="100%" style="background-color: black;">
														<tbody>
														<tr  style="background-color: black;">
															<td class="state">
																<span>1</span> 
																<%= link_to "STATE", athletes_path(q: {state_cont: athlete.state})  %>

															</td>
														</tr>
														
													</tbody></table>
												
											</td>
										</tr>
									
									</tbody></table>
								</td>
							</tr>
							
								<tr  style="background-color: transparent;">
									<td class="border-bottom">
										<div class="rank">
											<span style="width:70px; height:27px; line-height: 23pt; text-align:left;">1st</span>
											<%= link_to athletes_path(q: {state_cont: athlete.pf_ranking}) do %> 
											<span style="color: orange;">PFR</span>
											<% end -%>
										</div>
									</td>
								</tr>
							 
						</tbody></table>
						
									</div>
			
