
<div class="row columns">
	<h1>Pinfall Wrestling Recruting Database</h1>
</div>

<div class="row columns">
	<div class="medium-8 columns">
		<% if params[:q] %>
			<%= render :partial => "search_results", :locals => { :athlete => @athlete }%>
		<% else %>
			<%= render :partial => "athlete_search", :locals => { :athlete => @athlete }%>
		<% end %> 

	</div>

	<div class="medium-4 columns">
		<div class="sponsored-headlines">
			<h5>sponsored headlines</h5>
			<%= render :partial => "sponsored_headlines" %>							
		</div>
	</div>
</div>
